<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Homepage</title>
  </head>
  <body>
    
    <div class="topContainer">
      <button class="signupButton"><a href="/signupform"></a>Register New User</a></button>
    </div>
    <div class="container">
      <div class="item">
        Full Name: <span><%= data.fullName %></span>
      </div>
      <div class="item">
        Email Address: <span><%= data.email %></span>
      </div>
      <div class="item">
        Phone Number: <span><%= data.phone %></span>
      </div>
      <div class="item">
        Delivery Address: <span><%= data.delivery %></span>
      </div>
      <div class="item">
        Preferred Cuisine Type: <span><%= data.cuisineType %></span>
      </div>
      <div class="item">
        Dietary Restrictions:
        <span><%= data.dietaryRestrictions %></span>
      </div>
    </div>
  </body>
</html>
